*{
    padding: 0;
    margin: 0;
}

#container{
    width: inherit;
    background-image: linear-gradient(to bottom, #243b55, #141e30);
    /* height: 1200px; */
}

.navbar{
    width: inherit;
    height: 100px;
    padding: 15px;
    justify-content: space-between;
    background-color: white;
    border-bottom: 5px solid black;
}

.left-nav{
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.search-bar{
    width: 700px;
    border-radius: 30px;
}

.right-nav{
    width: 650px;
}

.links{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}

.card-container{
    width: 1600px;
    height: 1641px;
    margin: auto;
    background-color: #dde1e4;
    padding: 20px;
}

.profile-top{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #243b55;
}

.profile-info{
    display: flex;
    align-items:baseline
}

.profile-image{
    width: 168px;
    border-radius: 50%;
    background-color: white;
}

.profile-icon{
    width: 180px;
    height: 180px;
    background-color: #141e30;
    border-radius: 50%;
    padding: 6px;
    margin-right: 30px;
}

.profile-links{
    display: flex;
    width: inherit;
    padding: 10px;
}